@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;

}

body{
background: #8E2DE2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
font-family: "Montserrat",sans-serif;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
min-height: 100vh;
margin: 0;
}

h3{
    margin: 10px 0;
}

h6{
    margin: 5px 0;
    text-transform: uppercase;
}
p{
    font-size: 14px;
    line-height: 21px;
}

.card-desc{
    font-size: 13px;
    padding-right: 10px;
    padding-left: 10px;
}

.card-subtitle{
    margin-top: 10px;
}

.card-container{
    background-color: #1b0052;
    border-radius: 15px;
    color: #f0f0f0;
    padding-top: 10px;
    position: relative;
    width: 350px;
    max-width: 100%;
    text-align: center;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    backdrop-filter: blur;

}

.card-container .profile{
    padding: 7px;
    width: 144px;
}

.socials ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.socials ul li{
    display: inline-block;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
}